body {
    background-color: #efe5d0;
    font-family: Arial, "Trebuchet MS", sans-serif;
    margin: 0px;
}
header {
    background-color: rgb(167, 240, 167);
    color: #000000;
    margin: 0px;
    text-align: center;
    padding: 5px;
}
h1 {
    margin: 0px;
}
section#main {
    float: right;
    width: 70%;
    height: 200px;
    background-color: rgb(224, 232, 255);
}
nav {
    float: left;
    width: 30%;
    height: 200px;
    background-color: #ffd800;
}
footer {
    background-color: #824c4c;
    counter-reset: #efe5d0;
    text-align: center;
    padding: 10px;
    margin: 0px 0px 0px 0px;
    font-size: 90%;
    clear: both;
}